In [1]:
import pandas as pd

En primera instancia se procede a cargar el cunto de datos que servirán de base

In [2]:

amazon = pd.read_csv(r"C:\Users\eduar\OneDrive\Documentos\Henry\proyec individual c09\amazon_prime_titles.csv")

In [ ]:
print(amazon.head(3))

Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, 
seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

para lo cual utilizaremos 
a.- Crear nueva columna: df['new_index'] = 'x' + df['existing_column']
b,- definir esta nueva columna como indice: df.set_index('new_index', inplace=True)

Para Amzon

In [3]:
amazon.reset_index(inplace=True)
amazon['id'] = 'a' + amazon['show_id']
amazon.set_index('id', inplace=True)

In [ ]:
print(amazon.head(3))

In [7]:
print(amazon.index.name)

id

 Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

In [4]:
amazon["rating"] = amazon["rating"].fillna("G")

 De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [5]:
amazon["date_added"] = pd.to_datetime(amazon["date_added"])

 Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [6]:
amazon = amazon.applymap(lambda s: s.lower() if type(s) == str else s)

El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [7]:
amazon["duration"] = amazon["duration"].astype(str)

In [8]:
amazon['min']= amazon['duration'].apply(lambda i: i.split()[0] 
    if i.split()[1]=='min' 
    else '0')

amazon['seasons']= amazon['duration'].apply(lambda i: i.split()[0] 
    if i.split(" ",1)[1]=='Seasons' or i.split(" ",1)[1]=='Season' 
    else '0')

In [ ]:
print(amazon.head())

Ahora para disney

In [10]:
disney = pd.read_csv(r"C:\Users\eduar\OneDrive\Documentos\Henry\proyec individual c09\disney_plus_titles.csv")

In [11]:
disney.reset_index(inplace=True)
disney['id'] = 'd' + disney['show_id']
disney.set_index('id', inplace=True)

In [12]:
disney["rating"] = disney["rating"].fillna("G")

In [13]:
disney["date_added"] = pd.to_datetime(disney["date_added"])

In [14]:
disney = disney.applymap(lambda s: s.lower() if type(s) == str else s)

In [15]:
disney["duration"] = disney["duration"].astype(str)

In [16]:
disney['min']= disney['duration'].apply(lambda i: i.split()[0] 
    if i.split()[1]=='min' 
    else '0')

disney['seasons']= disney['duration'].apply(lambda i: i.split()[0] 
    if i.split(" ",1)[1]=='Seasons' or i.split(" ",1)[1]=='Season' 
    else '0')

Ahora para hulu

In [17]:
hulu = pd.read_csv(r"C:\Users\eduar\OneDrive\Documentos\Henry\proyec individual c09\hulu_titles.csv")

In [18]:
hulu.reset_index(inplace=True)
hulu['id'] = 'a' + hulu['show_id']
hulu.set_index('id', inplace=True)

In [19]:
hulu["rating"] = hulu["rating"].fillna("G")

In [20]:
hulu["date_added"] = pd.to_datetime(hulu["date_added"])

In [21]:
hulu = hulu.applymap(lambda s: s.lower() if type(s) == str else s)

In [22]:
hulu["duration"] = hulu["duration"].astype(str)

In [23]:
hulu['min']= hulu['duration'].apply(lambda i: i.split()[0]
    if i.split()=='min' 
    else '0')

hulu['seasons']= hulu['duration'].apply(lambda i: i.split()[0]
    if i.split()=='Seasons'
    else '0')

In [24]:
netflix = pd.read_csv(r"C:\Users\eduar\OneDrive\Documentos\Henry\proyec individual c09\netflix_titles.csv")

In [25]:
netflix.reset_index(inplace=True)
netflix['id'] = 'n' + netflix['show_id']
netflix.set_index('id', inplace=True)

In [26]:
netflix["rating"] = netflix["rating"].fillna("G")

In [27]:
netflix["date_added"] = pd.to_datetime(netflix["date_added"])

In [28]:
netflix = netflix.applymap(lambda s: s.lower() if type(s) == str else s)

In [29]:
netflix["duration"] = netflix["duration"].astype(str)

In [30]:
netflix['min']= netflix['duration'].apply(lambda i: i.split()[0]
    if i.split()=='min' 
    else '0')

netflix['seasons']= netflix['duration'].apply(lambda i: i.split()[0]
    if i.split()=='Seasons'
    else '0')

Lo siguiente es agregar una columna a cada dataframe con su respectiva plataforma, para luego concatenarlos y que cada Movie o Tv Show esté relacionado con su plat5aforma plataforma pertenece.

In [31]:
amazon['platform'] = 'Amazon'
disney['platform'] = 'Disney'
hulu['platform'] = 'Hulu'
netflix['platform'] = 'Netflix'

despues de divideir la columna duration esta se elimena

In [32]:
amazon.drop(['duration'], axis=1)
disney.drop(['duration'], axis=1)
hulu.drop(['duration'], axis=1)
netflix.drop(['duration'], axis=1)

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,min,seasons,platform
id,,,,,,,,,,,,,,,
ns1,0,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,documentaries,"as her father nears the end of his life, filmm...",0,0,Netflix
ns2,1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",0,0,Netflix
ns3,2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,0,0,Netflix
ns4,3,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",0,0,Netflix
ns5,4,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,0,0,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ns8803,8802,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",0,0,Netflix
ns8804,8803,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",0,0,Netflix
ns8805,8804,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,0,0,Netflix
ns8806,8805,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",0,0,Netflix
ns8807,8806,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,0,0,Netflix

Sigueinte pasa es el de concatenan todos los dataframes en uno solo, así poder manipular de forma más fácil las consultas planeadas.

In [33]:
uniondf = pd.concat([amazon,disney,hulu,netflix],axis=0)
uniondf.sample(4)

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,min,seasons,platform
id,,,,,,,,,,,,,,,,
ns7691,7690,s7691,movie,p.s. i love you,richard lagravenese,"hilary swank, gerard butler, lisa kudrow, gina...",united states,2019-04-01,2007,pg-13,126 min,"dramas, romantic movies",when she loses her beloved husband to a brain ...,0,0,Netflix
as6048,6047,s6048,movie,somnus,chris reading,"marcus mcmahon, meryl griffiths, cullum austin...",NaN,NaT,2016,13+,83 min,"science fiction, suspense","in the far reaches of our galaxy, a cargo vess...",83,0,Amazon
as1473,1472,s1473,movie,not wanted,"ida lupino, elmer clifton","sally forrest, keefe brasselle, leo penn, doro...",NaN,NaT,1949,18+,91 min,drama,"sally, a bored young waitress, lives in a do-n...",91,0,Amazon
ns8657,8656,s8657,movie,unacknowledged,michael mazzola,NaN,united states,2017-08-21,2017,tv-ma,104 min,documentaries,noted ufo expert dr. steven greer interviews w...,0,0,Netflix

In [34]:
uniondf.shape

(22998, 16)

A continuación, se cambiarán  las columnas 'tiempo_dur' y 'seasons', a integer, con el proposito de facilitar futuras respuestas

In [35]:
uniondf['seasons'] = uniondf['seasons'].astype(int)
uniondf['min'] = uniondf['min'].astype(int)

In [36]:
uniondf.dtypes

index                    int64
show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
min                      int32
seasons                  int32
platform                object
dtype: object

Ahora se rellena los valores nulos con "sin informacion", para completar

In [37]:
uniondf.fillna('sin informacion', inplace=True)
uniondf.sample(3) #Vemos 3 ejemplos

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,min,seasons,platform
id,,,,,,,,,,,,,,,,
as9149,9148,s9149,movie,more sex and the single mom,don mcbrearty,"gail o'grady, grant show, chelsea hobbs",sin informacion,sin informacion,2005,16+,90 min,"drama, romance","single, divorced lawyer jess gradwell returns ...",90,0,Amazon
ns5265,5264,s5265,movie,swearnet: the movie,warren p. sonoda,"mike smith, john paul tremblay, robb wells, pa...",canada,2017-09-24 00:00:00,2014,nc-17,112 min,"comedies, international movies","after losing a tv network deal, the trailer pa...",0,0,Netflix
ns348,347,s348,movie,planet 51,jorge blanco,"justin long, dwayne johnson, gary oldman, sean...","spain, united kingdom, united states",2021-08-01 00:00:00,2009,pg,91 min,"children & family movies, comedies, sci-fi & f...",after landing on a planet reminiscent of 1950s...,0,0,Netflix

Al dataframe final, lo convertimos a un csv para trabajarlo en nuestro próximo archivo main.py .

In [39]:
uniondf = pd.DataFrame(uniondf)
uniondf.to_csv("uniondf.csv")